@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-h);
}

.login-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  height: 60vh;
  border: 0;
  background: rgba(245, 245, 245, 0.724);
  box-shadow: 1px 1px 3px #000;
  display: flex;
  padding: 20px 50px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.login-card h1 {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
}

button,
input {
  outline: 0;
  border: 0.1px solid #d8cecee1;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
}

button:hover {
  opacity: 60%;
}

.login-form form {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 20px 0;
}

.form-btn {
  color: #f5f5f5;
  font-weight: bold;
  background: rgba(161, 161, 9, 0.931);
  border: 1px solid transparent;
  cursor: pointer;
  transition: opacity 0.36s ease-in-out;
}


.directLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.directLogin button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: opacity 0.36s ease-in-out;
}

.directLogin button:hover{
  opacity: 80%;
  background: #f5f5f5c6;
  cursor: pointer;
}

.directLogin button img {
  width: 25px;
  height: 25px;
}


.box{
  padding: 10px 15px;
  text-align: center;
}