

PORT=
NODE_ENV=devlopment

# database uri's 
MONGO_URL=
MONGO_CLOUD=

# access token sercet 
JWT_SECRET_KEY=

# Email credential
SMTP_PORT=
SMTP_HOST="smtp.gmail.com"
SMTP_USER="example@gmail.com"
SMTP_PASS="abcdefghijklmnpq"

# 0Auth 2.0 credential 
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ACCESS_TOKEN_URL=

